@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

#grad1{
    background-color: #54DAFF;
    background-image: linear-gradient(to bottom right, #924BFF, #54DAFF);
}

#grad2{
    background-image: linear-gradient(to right, #0047FF, #C67EFF);
}

body{
    background-size: cover;
    overflow: auto;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 1px solid #dedede;
    padding: 27px 12%;
    transition: all .45s ease;
    backdrop-filter: blur(10px);
}

/* #logo, #user, #guide{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7499%) hue-rotate(246deg) brightness(104%) contrast(103%);
} */

/* #logo{
    filter: brightness(0) saturate(100%) invert(66%) sepia(66%) saturate(393%) hue-rotate(153deg) brightness(101%) contrast(102%);  
} */

header.scroll {
    padding: 14px 2%;
}

main{
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 8.4em;
    padding: 16px 16%;
    transition: all .45s ease;
}

main.scroll{
    margin-top: 6.7em;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 60px;
}

.navigation{
    padding: 24px;
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 60px;
    z-index: 2;
    transition: transform 0.45s ease;
    transform-origin: center top;
    background-color: white;
    backdrop-filter: blur(20px);
}

.navigation:hover{
    transform: scale(1.2);
}

.navigation a{
    position: relative;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .45s ease;
}

.navigation img{
    width: 25px;
    height: 25px;
    transition: transform 0.45s ease;
    z-index: 4;
}

.navigation span{
    font-size: 0.7em;
    white-space: nowrap;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    /* background-color: #54DAFF; */
    background-color: black;
    border-radius: 30px;
    padding: 0 3px;
    transition: transform 0.45s ease;
    opacity: 0;
}

.list{
    position: relative; 
    cursor: pointer;
    z-index: 10;
}

.list:hover img{
    transform: translateY(-9px); 
    /* filter: brightness(0) saturate(100%) invert(68%) sepia(75%) saturate(474%) hue-rotate(161deg) brightness(101%) contrast(102%); */
}

.list:hover span{
    transform: translate(-50%, -90%);
    opacity: 1;
}

.indicator{
    display: flex;
    align-self: center;
    position: absolute;
    margin-left: 2px;
    /* border: 2px solid #54DAFF; */
    border-radius: 50px;
    width: 5em; 
    height: 4.2em;
    transition: transform 0.45s ease;
    z-index: 3;
    box-shadow: 0 0 9px rgba(0, 0, 0, .3);
}

.menu{
    display: flex;
    align-items: center;
}

.menu a, #menu-icon{
    margin-right: 25px;
    margin-left: 25px;
    transition: all .45s ease;
    display: flex;
}

#menu-icon{
    padding-top: 5px;
}

.menu img{
    width: 25px;
    height: 25px;
}

#menu-icon{
    cursor: pointer;
    z-index: 5;
    display: none;
}

/* .active img{
    filter: brightness(0) saturate(100%) invert(68%) sepia(75%) saturate(474%) hue-rotate(161deg) brightness(101%) contrast(102%);
} */

.contain1{
    display: flex;
    flex-direction: row;
}

.contain2{
    display: flex;
    flex-direction: column;
}

.contain3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_frame{
    /* background-color: #F1F1F1; */
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid #F1F1F1;
}

.user_frame:hover{
    background-color: #E9E9E9;
    border: 3px solid #E9E9E9;
    /* opacity: 0.9; */
}

.user_frame.active1{
    background-color: #E9E9E9;
    border: 3px solid #E9E9E9;
}

#user{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.user_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.user_modal_content{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    top: 90px;
    right: 210px;
    border-radius: 9px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);
    background-color: white;
    overflow: hidden;
    transition: transform 0.45s ease;
}

.user_modal_content.scroll{
    transform: translate(151px, -12px);
}

.user_modal_content img{
    width: 35px;
    height: 30px;
    border-radius: 30px;
    margin: 6px;
}

/* #user:hover{
    transform: scale(1.1);
} */

#guide{
    display: flex;
}

/* #guide:hover{
    transform: scale(1.1);
} */

/* #menu-icon:hover{
    transform: scale(1.1);
} */

.user_modal_content .profile, .account, .setting, .help, .themes, .logout{
    display: flex;
    align-items: center;
    /* padding-left: 9px; */
    cursor: pointer;
    width: 93%;
    align-self: center;
    border-radius: 6px;
}

.user_modal_content .logout{
    border-top: 1px solid #dedede;
    margin-bottom: 6px;
}

.user_modal_content .profile:hover,
.user_modal_content .account:hover, 
.user_modal_content .setting:hover, 
.user_modal_content .help:hover, 
.user_modal_content .themes:hover, 
.user_modal_content .logout:hover {
    background-color: #E9E9E9;
}

.basic_info{
    width: 220px;
    height: 60px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);
    border-radius: 6px;
    margin: 9px;
    cursor: pointer;
}

.basic_info:hover{
    background-color: #E9E9E9;
}

#avatar{
    width: 45px;
    height: 45px;
    border: solid #dedede;
}

#name{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#role{
    font-size: 12px;
    color: grey;
}


/* ======================================================================================================


                                                HOME PAGE
                                                
                                                
=========================================================================================================*/
.home_page_container1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: url('../assets/background.png');
    background-size: cover;
}

.home_page_container2{
    display: flex;
    flex-direction: column;
    padding: 90px 4%;
}

.welcome_title{
    font-size: 2.4em;
    font-weight: 600;
}

.welcome_role{
    font-size: 2em;
    font-weight: 600;
}

.welcome_start_guide{
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.welcome_start_frame{
    display: flex;
    padding: 12px 25px;
    border-radius: 30px;
    /* border: 1px solid black; */
    background-color: #E1E1E1;
    cursor: pointer;
}

.welcome_start_frame img{
    height: 25px;
    width: 25px;
    margin-left: 5px;
    transition: transform 0.45s ease;
}

.welcome_start_frame:hover img{
    transform: translateX(5px);
}

.welcome_guide_frame{
    display: flex;
    padding: 12px 25px;
    border-radius: 30px;
    /* border: 1px solid black; */
    background-color: white;
    cursor: pointer;
}

.welcome_avatar{
    margin-left: auto;
}

.welcome_avatar img{
    width: 500px;
    height: 500px;
}


/* =======================================================================================================


                                            QUAN LY NHAN VIEN


==========================================================================================================*/
.title{
    font-size: 2em;
    font-weight: 600;
    color: black;
}

.midTitle{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.smallTitle{
    font-size: 1.1em;
    font-weight: 600;
}

.description{
    width: 45%;

}

.path{
    margin-bottom: 10px;
}

.path a{
    font-size: 1em;
    color: grey;
}

.create_account_btn{
    padding: 9px;
    margin: 12px;
    display: flex;
    /* width: 160px; */
    width: fit-content;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
    cursor: pointer;
}

.create_account_btn:hover{
    background-color: #E1E1E1;
}

.create_account_btn img{
    width: 25px;
    height: 25px;
}

.create_account_btn span{
    font-size: 1em;
    font-weight: 600;
    margin: 0px 5px;
}

.margin_bottom{
    margin-bottom: 10px;
}

.margin_top{
    margin-top: 10px;
}

.margin_left{
    margin-left: 15px;
}

.space_between{
    display: flex;
    justify-content: space-between;
}

.create_account_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.create_account_container{
    background-color: white;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);    
}

.create_account_contain1{
    display: flex;
    flex-direction: row;
}

.create_account_contain2{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.create_account_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.create_account_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.create_account_content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 570px;
}

.create_account_footer{
    padding: 0px 15px 15px 15px;
}

.create_account_content input{
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

.create_account_content span{
    font-size: 0.9em;
}

.upload_avatar{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    border: 3px solid #ccc;
}

.upload_avatar_btn{
    background-color: #F1F1F1;
    margin-top: 7px;
    margin-left: 15px;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.9em;
}

.upload_avatar_btn:hover{
    background-color: #E1E1E1;
}

.upload_avatar_btn span{
    margin-left: 3px;
}

.upload_avatar_btn img{
    height: 20px;
    width: 20px;
}

.upload_role{
    margin-left: 15px;
    margin-top: 10px;
    max-height: 40px;
    width: 120px;
    border-radius: 30px;
}

.upload_role:hover{
    background-color: #E1E1E1;
}

select{
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    background-color: #F1F1F1;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

#upload_name{
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px;   
    font-size: 1em;
}

#surname_label{
    margin-left: 20px;
}

#upload_surname{
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    margin-left: 10px;
    font-size: 1em;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px; 
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.gender_container label{
    margin-top: 5px;
    margin-right: 60px;
    margin-bottom: 15px;
}

.birthday_container{
    margin-bottom: 10px;
}

.birthday_container input{
    width: 100px !important;
    margin-bottom: 0px;
    margin-top: 5px;
}

.create_cancel{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.create{
    padding: 10px 30px;
    /* background-color: green; */
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* .create:hover{
    background-color: darkgreen;
} */

.delete{
    padding: 10px 30px;
    /* background-color: red; */
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* .delete:hover{
    background-color: darkred;
} */

.cancel{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #F1F1F1;
}

.cancel:hover{
    background-color: #E1E1E1;
}

.search_btn{
    padding: 9px;
    margin: 12px;
    border-radius: 30px;
    /* border: 1px solid #ccc; */
    display: flex;
    width: fit-content;
    height: 50px;
    background-color: #F1F1F1;
}

.search_btn input{
    border: none;
    outline: none;
    font-size: 1em;
    background-color: #F1F1F1;
    padding-left: 5px;
}

.search_btn:hover{
    background-color: #E1E1E1;
}

.search_btn:hover input {
    background-color: #E1E1E1;
}

.search_btn img{
    width: 25px;
    height: 25px;
    margin: 3px;
    cursor: pointer;
}

.staff_header_helper{
    display: flex;
    padding: 0px 26px 6px 26px;
    border-bottom: 1px solid #ccc;
}

.staff_header_helper p{
    white-space: nowrap;
    font-weight: 600; 
}

#stt{
    width: 10%;
}

#ho_ten{
    width: 25%;
}

#diachi_email{
    width: 30%;
}

#chuc_vu{
    width: 15%;
}

.staff_main_content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    white-space: nowrap;
    z-index: 0;
}

.user_box{
    padding: 15px;
    margin: 1px;
    border-radius: 30px;
    transition: transform 0.45s ease; 
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

/* .user_box:nth-child(odd) {
    background-color: #dedede;
} */

.user_box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);

}

.user_box p{
    overflow: hidden;
    text-overflow: ellipsis;
}

#u_stt{
    width: 10%;
    padding-left: 3.9px;
}

#u_ho_ten{
    width: 25%;
    padding-right: 15px;
}

#u_diachi_email{
    width: 30%;
    padding-right: 15px;
}

#u_chuc_vu{
    width: 15%;
    font-size: 0.9em;
}

#inner_u_chuc_vu{
    width: fit-content;
    padding: 0px 5px;
    /* background-color: #54DAFF; */
    background-color: black;
    border-radius: 5px;
    color: white;
}

.edit_delete{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    gap: 6px;
    padding-right: 5px;
}

.edit_delete img{
    width: 25px;
    height: 25px;
}

.edit_delete button{
    border: none;
    outline: none;
    cursor: pointer;   
    background-color: transparent;
}

/* .delete_account_btn{
    filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(7497%) hue-rotate(359deg) brightness(102%) contrast(110%);
} */

.delete_account_confirmation_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.delete_account_confirmation_container{
    background-color: white;
    /* width: 550px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.delete_account_confirmation_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.delete_account_confirmation_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.delete_account_confirmation_content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 45px 30px 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.delete_account_confirmation_footer{
    padding: 0px 15px 15px 15px;
}

/* deactivate confirmaton */
.deactivate_account_confirmation_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.deactivate_account_confirmation_container{
    background-color: white;
    /* width: 550px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.deactivate_account_confirmation_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.deactivate_account_confirmation_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.deactivate_account_confirmation_content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 45px 30px 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.deactivate_account_confirmation_footer{
    padding: 0px 15px 15px 15px;
}

.deactivate{
    padding: 10px 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* change role confirmation */
.change_role_account_confirmation_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.change_role_account_confirmation_container{
    background-color: white;
    /* width: 550px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.change_role_account_confirmation_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.change_role_account_confirmation_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.change_role_account_confirmation_content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 40px 95px 60px 95px;
    overflow-y: auto;
    overflow-x: hidden;
}

.change_role_account_confirmation_footer{
    padding: 0px 15px 15px 15px;
}

.change_role{
    padding: 10px 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* .change_role_select{
    min-height: 40px;
    width: 120px;
    border-radius: 30px;
}

.change_role_select:hover{
    background-color: #E1E1E1;
} */

.center_element{
    display: flex;
    justify-content: center;
}

.staff_information_content{
    display: flex;
    flex-direction: column;
    padding: 0px 10% 0 0%;
    /* white-space: nowrap; */
    z-index: 0;
}

.staff_information_content input{
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

.staff_information_content span{
    font-size: 0.9em;
}

.change_avatar{
    width: 120px;
    height: 120px;
    border-radius: 90px;
    border: 3px solid #ccc;
}

.change_avatar_btn{
    background-color: #F1F1F1;
    margin-top: 7px;
    margin-left: 15px;
    height: 40px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    /* font-size: 0.9em; */
    align-self: center;
}

.change_avatar_btn:hover{
    background-color: #E1E1E1;
}

.change_avatar_btn span{
    margin-left: 3px;
    padding-right: 3px;
}

.change_avatar_btn img{
    height: 20px;
    width: 20px;
}

.staff_information_contain1{
    display: flex;
    flex-direction: row;
}

.staff_information_contain2{
    display: flex;
    flex-direction: column;
    width: 49%;
}

#infor_name{
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px;   
    font-size: 1em;
}

#infor_surname{
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    margin-left: 10px;
    font-size: 1em;
}

input[type="checkbox"],
input[type="radio"] {
    width: 20px;
    height: 20px; 
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.change_role_container{
    white-space: nowrap;
    align-items: center;
    display: flex;
    padding-left: 30px;
}

.change_role_container button{
    padding: 10px 20px;
    margin: 12px;
    display: flex;
    width: fit-content;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.change_role_select{
    padding: 10px 20px;
    margin: 12px;
    display: flex;
    width: fit-content;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.change_role_container button:hover{
    background-color: #E1E1E1;
}

.reset_save{
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.save{
    padding: 10px 30px;
    /* background-color: green; */
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* .create:hover{
    background-color: darkgreen;
} */

.reset{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #F1F1F1;
}

.reset:hover{
    background-color: #E1E1E1;
}

/* CHANGE PASSWORD */

.passwork_container img{
    height: 15px;
    width: 15px;
}

.password_container_modal img{
    height: 15px;
    width: 15px;
}

.password_container_modal input{
    width: 100% !important;
}

.password_container_modal img {
    margin-right: 3% !important;
}

.password_icon{
    float: right;
    margin-right: 17%;
    margin-top: -45px;
    position: relative;
    /* z-index: 2; */
    cursor: pointer;
}

.password_input{
    display: block;
    width: 85% !important;
}

.change_infor_password{
    position: relative;
    float: right;
    margin-right: 0%;
    margin-top: -60px;
    margin-left: 0px;
    padding: 10px 15px;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    background-color: #F1F1F1;
    cursor: pointer;
}

.change_infor_password:hover{
    background-color: #E1E1E1;
}

/* CHANGE PASSWORD MODAL */

.change_infor_password_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.change_infor_password_container{
    background-color: white;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.change_infor_password_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.change_infor_password_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.change_infor_password_content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.change_infor_password_footer{
    padding: 0px 15px 15px 15px;
}

.change_infor_password_content input{
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

.create_product_content span{
    font-size: 0.9em;
}

/* ============================================================================================================================================


                                                              QUẢN LÝ SẢN PHẨM
                                                        
                                                        
=============================================================================================================================================== */
.category{
    margin: 20px 0px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 45px;
    overflow-x: auto;
}

.category::-webkit-scrollbar {
    display: none;
}

.category_card{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category_card img{
    height: 90%;
}

.category_card span{
    margin-top: 10px;
    font-size: 0.75em;
    font-weight: 600;
}

.product_list{
    gap: 10px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.product_box{
    height: fit-content;
    width: 24%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);
    padding: 20px;
    transition: transform 0.45s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.product_box:hover{
    transform: scale(1.02);
}

.product_name{
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    justify-self: center;
    margin-bottom: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* hoặc inline-block tùy thuộc vào ngữ cảnh */
    width: 100%; /* Đặt chiều rộng phù hợp cho phần tử */
}

.product_box img{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.product_detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number_code{
    display: flex;
    align-self: center;
    color: grey;
}

.product_code{
    display: flex;
    align-items: center;
}

.product_code img{
    width: 100%;
}

.product_edit_delete{
    display: flex;
    align-items: end;
    gap: 5px;
}

.product_delete{
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: black;
    font-size: 0.9em;
    color: white;
}

.product_edit{
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #F1F1F1;
    font-size: 0.9em;
}

.product_edit:hover{
    background-color: #E1E1E1;
}

/* CREATE TRANSACTION MODAL */
#transaction_id, #transaction_details_id{
    width: 98%;
}

#transaction_date, #transaction_details_date{
    width: 100%;
}

.div45{
    width: 70%;
}   

.div25{
    width: 30%;
}

#transaction_product_id{
    width: 98%;
}

#transaction_product_quanity{
    width: 70%;
}

.plus-button {
    font-size: 24px;
    color: white;
    background-color: #CDCDCD;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px; 
    margin-top: 3px;
}

.plus-button:hover {
    background-color: #ccc;
}

.minus-button {
    font-size: 16px;
    color: white;
    background-color: #CDCDCD;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px; 
    margin-top: 3px;
}

.minus-button:hover {
    background-color: #ccc;
}


.create_transaction_modal, .transaction_details_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.create_transaction_container, .transaction_details_container{
    background-color: white;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.create_transaction_header, .transaction_details_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.create_transaction_header p, .transaction_details_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.create_transaction_content, .transaction_details_content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 560px;
}

.create_transaction_footer, .transaction_details_footer{
    padding: 0px 15px 15px 15px;
}

.create_transaction_content input, .transaction_details_content input{
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

.create_transaction_content span, .transaction_details_content span{
    font-size: 0.9em;
}

/* Transaction Product List */
.transaction_product_list{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* flex-wrap: wrap; */
    margin-bottom: 15px;
}

.transaction_product_list_box{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    gap: 25px;
}

.transaction_product_list_box p{
    font-size: 0.9em;
}

/* create product modal */
.margin_bottom_zero{
    margin-bottom: 0 !important;
}

.create_product_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.create_product_container{
    background-color: white;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.create_product_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.create_product_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.create_product_content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.create_product_footer{
    padding: 0px 15px 15px 15px;
}

.create_product_content input{
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

.create_product_content span{
    font-size: 0.9em;
}

.upload_product_img{
}

.upload_product_img img{
    height: 150px;
    border-radius: 10px;
}

.upload_product_btn{
    background-color: #F1F1F1;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.9em;
}

.upload_product_btn:hover{
    background-color: #E1E1E1;
}

.upload_product_btn span{
    margin-left: 3px;
}

.upload_product_btn img{
    height: 20px;
    width: 20px;
}

.upload_product_category{
    margin-top: 10px;
    max-height: 40px;
    width: 120px;
    border-radius: 30px;
}

.upload_product_category:hover{
    background-color: #E1E1E1;
}

.create_cancel{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.create{
    padding: 10px 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.delete{
    padding: 10px 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.cancel{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #F1F1F1;
}

.cancel:hover{
    background-color: #E1E1E1;
}

/* confirmation */
.delete_product_confirmation_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.delete_product_confirmation_container{
    background-color: white;
    /* width: 550px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.delete_product_confirmation_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.delete_product_confirmation_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.delete_product_confirmation_content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 45px 30px 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.delete_product_confirmation_footer{
    padding: 0px 15px 15px 15px;
}

/* Delete transaction confirmation */
.delete_transaction_confirmation_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.delete_transaction_confirmation_container{
    background-color: white;
    /* width: 550px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.delete_transaction_confirmation_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.delete_transaction_confirmation_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.delete_transaction_confirmation_content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 45px 30px 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.delete_transaction_confirmation_footer{
    padding: 0px 15px 15px 15px;
}

/* change product infor */
.change_product_infor_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.change_product_infor_container{
    background-color: white;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.change_product_infor_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.change_product_infor_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.change_product_infor_content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.change_product_infor_footer{
    padding: 0px 15px 15px 15px;
}

.change_product_infor_content input{
    margin-bottom: 15px;
    height: 45px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

.change_product_infor_content span{
    font-size: 0.9em;
}

.change_product_img img{
    height: 150px;
    border-radius: 10px;
}

.change_product_btn{
    background-color: #F1F1F1;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.9em;
}

.change_product_btn:hover{
    background-color: #E1E1E1;
}

.change_product_btn span{
    margin-left: 3px;
}

.change_product_btn img{
    height: 20px;
    width: 20px;
}

.change_product_category{
    margin-top: 10px;
    max-height: 40px;
    width: 120px;
    border-radius: 30px;
}

.change_product_category:hover{
    background-color: #E1E1E1;
}

.create_cancel{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.create{
    padding: 10px 30px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.cancel{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: #F1F1F1;
}

.cancel:hover{
    background-color: #E1E1E1;
}

/* ==================================================================================================================================


                                                    QUẢN LÝ KHÁCH HÀNG
                                                    
                                                    
====================================================================================================================================*/
.transaction_header_helper{
    display: flex;
    padding: 0px 26px 6px 26px;
    border-bottom: 1px solid #ccc;
}

.transaction_header_helper p{
    white-space: nowrap;
    font-weight: 600; 
}

#tr_ma{
    width: 20%;
}

#tr_kh_hang{
    width: 35%;
}

#tr_ngay{
    width: 25%;
}

#tr_tongtien{
    width: 25%;
}

.transaction_main_content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    white-space: nowrap;
    z-index: 0;
}

.transaction_box{
    padding: 30px 15px;
    margin: 1px;
    /* border-radius: 30px; */
    border-bottom: 1px solid #E1E1E1;
    transition: transform 0.45s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.transaction_box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);

}

.transaction_box p{
    overflow: hidden;
    text-overflow: ellipsis;
}

#b_tr_ma{
    width: 20%;
    padding-left: 0px;
}

#b_tr_kh_hang{
    width: 35%;
    padding-right: 15px;
}

#b_tr_ngay{
    outline: none;
    border: none;
    width: 25%;
    padding-right: 15px;
}

#b_tr_ngay::-webkit-calendar-picker-indicator {
    display: none;
}

#b_tr_tongtien{
    width: 25%;
}

.transaction_delete{
    display: flex;
    width: 5%;
    justify-content: flex-end;
    padding-right: 5px;
}

.transaction_delete img{
    width: 25px;
    height: 25px;
}

.transaction_delete button{
    border: none;
    outline: none;
    cursor: pointer;   
    background-color: transparent;
}

/* trans */
.customer_header_helper{
    display: flex;
    padding: 0px 26px 6px 26px;
    border-bottom: 1px solid #ccc;
}

.customer_header_helper p{
    white-space: nowrap;
    font-weight: 600; 
}

#c_stt{
    width: 10%;
}

#c_ho_ten{
    width: 25%;
}

#c_gioi_tinh{
    width: 20%;
}

#c_sdt{
    width: 25%;
}

.customer_main_content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    white-space: nowrap;
    z-index: 0;
}

.user_box{
    padding: 15px;
    margin: 1px;
    border-radius: 30px;
    transition: transform 0.45s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

/* .user_box:nth-child(odd) {
    background-color: #dedede;
} */

.user_box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);

}

.user_box p{
    overflow: hidden;
    text-overflow: ellipsis;
}

#c_u_stt{
    width: 10%;
    padding-left: 3.9px;
}

#c_u_ho_ten{
    width: 25%;
    padding-right: 15px;
}

#c_u_gioi_tinh{
    width: 20%;
    padding-right: 15px;
}

#c_u_sdt{
    width: 25%;
}

/* ======================================================================================================================================


                                                      BAO CAO VA PHAN TICH
                                                    
                                                    
=========================================================================================================================================*/
.view_order{
    border: 2px solid #CDCDCD;
    width: fit-content;
    height: fit-content;
    padding: 3px 4px 3px 20px;
    border-radius: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.view_order span{
    margin-right: 6px;
}

.view_by_day{
    width: fit-content;
    height: fit-content;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.view_by_month{
    width: fit-content;
    height: fit-content;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
}

.view_by_specific{
    width: fit-content;
    height: fit-content;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
}

.view_by_day.active{
    background-color: #CDCDCD;
}

.view_by_month.active{
    background-color: #CDCDCD;
}

.view_by_specific.active{
    background-color: #CDCDCD;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}
.chart-title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.select_day_chart_title{
    display: flex;
    margin-left: 15px;
}

#select_day_chart{
    margin-bottom: 15px;
    margin-left: 15px;
    height: 45px;
    width: 200px;
    border-radius: 6px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

#select_month_chart{
    margin-bottom: 15px;
    margin-left: 15px;
    height: 45px;
    width: 200px;
    border-radius: 6px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

#select_start_day_chart, #select_end_day_chart{
    margin-bottom: 15px;
    margin-left: 15px;
    height: 45px;
    width: 200px;
    border-radius: 6px;
    border: 2px solid #CDCDCD;
    padding: 0px 15px; 
    font-size: 1em;
}

/* Thong ke chi tiet */
.statistics_header_helper{
    display: flex;
    padding: 0px 26px 6px 26px;
    border-bottom: 1px solid #ccc;
}

.statistics_header_helper p{
    white-space: nowrap;
    font-weight: 600; 
}

#st_maDH{
    width: 15%;
}

#st_so_luong{
    width: 20%;
}

#st_tien_ban{
    width: 25%;
}

#st_doanh_thu{
    width: 25%;
}

#st_thoigian{
    width: 15;
}

.statistics_main_content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    white-space: nowrap;
    z-index: 0;
}

.statistics_box{
    padding: 30px 15px;
    margin: 1px;
    /* border-radius: 30px; */
    border-bottom: 1px solid #E1E1E1;
    transition: transform 0.45s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.statistics_box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 9px rgba(0, 0, 0, .2);

}

.statistics_box p{
    overflow: hidden;
    text-overflow: ellipsis;
}

#b_st_maDH{
    width: 15%;
    padding-left: 0px;
}

#b_st_so_luong{
    width: 20%;
    padding-right: 15px;
}

#b_st_tien_ban{
    outline: none;
    border: none;
    width: 25%;
    padding-right: 15px;
}

#b_st_doanh_thu{
    width: 25%;
}

#b_st_thoigian{
    width: 15%;
}

/* Chi tiet don hang */
.order_details_modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.order_details_modal_container{
    background-color: white;
    /* width: 550px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.order_details_modal_header{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.order_details_modal_header p{
    font-size: 1.2em;
    font-weight: 600;
}

.order_details_modal_content{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0px 65px 30px 65px;
    overflow-y: auto;
    overflow-x: hidden;
}

.order_details_modal_content p{
    display: flex;
    justify-content: flex-start;
}

.order_details_modal_footer{
    padding: 0px 15px 15px 15px;
}

#id_bill{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

@media(max-width: 1280px){

    /* Native Element */
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .header_cover{
        height: 108px;
    }

    main{
        margin-top: 6.7em;
    }


    /* Navigation */
    .navigation a{
        padding: 5px 0;
        margin: 0px 20px;
    }

    .navigation span{
        font-size: 0.6em;
        transform: translate(-50%, -60%);
    }

    .list:hover img{
        transform: translateY(-9px); 
    }
    
    .list:hover span{
        transform: translate(-50%, -129%);
        opacity: 1;
    }

    .indicator{
        margin-left: -1px;
        width: 4.2em;
        height: 4.2em;
    }


    /* User Menu */
    .user_modal_content{
        transform: translate(151px, -12px);
    }


    /* Welcome Page */
    .home_page_container2{
        padding: 60px 4%;
    }

    .welcome_title{
        font-size: 2em;
    }
    
    .welcome_role{
        font-size: 1.5em;
    }
    
    .welcome_start_guide{
        margin-top: 20px;
        gap: 15px;
    }

    .welcome_avatar img{
        width: 360px;
        height: 360px;
    }

    .product_box{
        width: 32%;
    }
}

@media(max-width: 1090px){

    /* Native Element */
    .header_cover{
        height: 89px;
    }

    main{
        margin-top: 4.6em;
        padding: 16px 6%;
    }


    /* Navigation & Menu */
    #menu-icon{
        display: block;
    }

    .navigation{
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 100vh;
        /* background-color: transparent; */
        border-radius: 0px;
        transition: all .45s ease;
        box-shadow: none;
    }

    .navigation:hover{
        transform: none;
    }

    .navigation a{
        display: flex;
        margin: 12px 0;
        padding: 0px 45px 0 25px;
    }

    .navigation span{
        display: flex;
        transform: none;
        position: static;
        opacity: 1;
        font-size: 1em;
        color: black;
        background-color: transparent;
        font-weight: 600;
        margin-top: 3px;
        margin-left: 6px;
    }

    .list{
        display: flex;
        transition: all .45s ease;
    }

    .list:hover{
        transform: translateY(-3px);
    }
 
    .list:hover span {
        transform: none;
    }
    
    .list:hover img{
        transform: none;
    }

    .navigation.open{
        right: 0%;
    }

    .indicator{
        display: none;
    }


    /* User Menu */
    .user_modal_content{
        top: 72px;
        right: 260px;
    }

    /* Staff information */
    .create_account_btn{
        width: 50px;
    }
    
    .create_account_btn span{
        display: none;
    }

    #stt{
        width: 12%;
    }
    
    #ho_ten{
        width: 30%;
    }
    
    #diachi_email{
        display: none;
    }
    
    #chuc_vu{
        width: 15%;
    }

    #u_stt{
        width: 12%;
        padding-left: 3.9px;
    }
    
    #u_ho_ten{
        width: 30%;
        padding-right: 15px;
    }
    
    #u_diachi_email{
        display: none;
    }
    
    #u_chuc_vu{
        width: 15%;
        font-size: 0.9em;
    }

    .edit_delete{
        margin-left: auto;
    }

    .product_box{
        width: 48%;
    }

    .create_account_container{
        width: 480px;
    }

    .create_product_container{
        width: 480px;
    }

    .change_infor_password_container{
        width: 480px;
    }

    .create_transaction_container{
        width: 480px;
    }
}

@media(max-width: 900px){
    .welcome_avatar{
        display: none;
    }

    .password_icon{
        margin-right: 33%;
    }

    .password_input{
        width: 70% !important;
    }

    #tr_kh_hang{
        display: none;
    }

    #b_tr_kh_hang{
        display: none;
    }

    #tr_nh_vien{
        display: none;
    }

    #b_tr_nh_vien{
        display: none;
    }

    #tr_ma{
        width: 40%;
    }

    #b_tr_ma{
        width: 40%;
    }

    #tr_ngay{
        width: 40%;
    }

    #b_tr_ngay{
        width: 55%;
    }
}


